.footer-container {
    background: #e1e1e171;
    padding: 50px 30px 30px;
    border-radius: 20px;
    margin: 20px auto;
    width: 95%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-logo {
    width: 220px;
    margin-bottom: 10px;
}

.tagline {
    font-size: 12px;
    margin-left: 70px;
    margin-top: -6px;
    color: #444;
}

.footer-info p {
    margin: 10px 0;
    color: #444;
}

.footer-info a {
    color: #444;
    text-decoration: none;
}

/* COMMON COLUMN STYLE */
.footer-col {
    min-width: 150px;
    padding: 0px 30px 50px 30px;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col li {
    margin-bottom: 10px;
    color: #666;
    cursor: pointer;
}

.footer-col li:hover {
    color: #000;
}

/* DIVIDER */
.footer-divider {
    margin: 30px 0 20px;
    border: none;
    border-top: 1px solid #ccc;
}

/* BOTTOM TEXT */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #666;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
    }

    .footer-col {
        margin-top: 20px;
    }

    .tagline {
        margin-left: 0;
    }
}

.footer-info p,
.footer-col ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: #555;
}