@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100%;
}

:root {
  --color-primary: #FF7B2E;
  --hover: #f9851fc3;
  --color-text-black: #080808;
  --color-text-white: #ffffff;
  --color-text-gray: #959595;
  --color-background: #ffffff;
  --color-border: #e5e7eb;
  --color-success: #06be28;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --border-radius: 0.375rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3.1rem;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --gradient: linear-gradient(0deg, var(--color-primary) 0%, var(--color-primary-second) 100%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-black);
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.loader{
    border: 4px solid #f3f3f3; 
    border-top: 4px solid var(--accent-600, #ff6b00); 
    border-radius: 50%; 
    width: 24px; 
    height: 24px; 
    animation: spin 1s linear infinite; 
    margin: 0 auto;
}

.globalLoader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 3000;
}

#root {
  overflow-x: hidden;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 var(--spacing-4);
}

/* Buttons */

.primary-button {
  width: fit-content;
  display: inline-block;
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-text-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}